<!DocType HTML>
<html lang="pt-br" dir="ltr">

<head>
    <meta chaset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../css/style.css">
    <script charset="utf-8" src="../script/principal.js"></script>
    <script charset="utf-8" src="../script/verifica.js"></script>
    <script charset="utf-8" src="../script/gerar.js"></script> 
    
</head>

<body>

    <form class="box" action="/salva" method="post">
        <input id="pri" type="text" name="nome" placeholder="Nome">
        <input id="seg" type="email" name="email" placeholder="Email" >
        <input type="submit" name="" value="criar" onclick="main()">
        <p id="demo" name="numerador"></p>
        <p id="omed"></p>
    </form>
</body>

</html>